<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751439789472-emdufmbgpuphe2tu11au02etha15i94q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751439789472-emdufmbgpuphe2tu11au02etha15i94q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751439789472-81jrntmldmmjtgsem47cvph0b3ubr7pr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsO3pkXp7X51pcvzifYvbViSaXl8_Rycc</string>
	<key>GCM_SENDER_ID</key>
	<string>751439789472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokargreens.customer</string>
	<key>PROJECT_ID</key>
	<string>pokar-food-service-pvt-ltd</string>
	<key>STORAGE_BUCKET</key>
	<string>pokar-food-service-pvt-ltd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751439789472:ios:a4d71e77bf62f5c77c38c5</string>
</dict>
</plist>