<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>eGrocer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>eGrocer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<!-- TODO REVERSED_CLIENT_ID HERE -->
			<array>
				<string>com.googleusercontent.apps.755773183987-gb631n782l7v6lt2fu1vele74o57qr5f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<string>paytm</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app provides a facility to change the profile picture for the users so it requires permission to access images to upload and set the profile picture into your account.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>User requires access to the location to fetch near by products from the various sellers to make user experience better and get proper deliverable items to belong in your selected location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>User requires access to the location to fetch near by products from the various sellers to make user experience better and get proper deliverable items to belong in your selected location.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>TemporaryPreciseAccuracy</key>
		<string>User requires temporary access to the device's precise location to find near by sellers.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>User requires access to the location to fetch near by products from the various sellers to make user experience better and get proper deliverable items to belong in your selected location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app listens for speech on the device microphone on your request to search.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app provides a facility to change the profile picture for the users so it requires permission to access images to upload and set the profile picture into your account.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app recognizes words as you speak them and search. </string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>User requires notification access to receive the notifications in the app</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
